.social
  .center
    %ul.socials
      %li.facebook
        %a{:href => "http://www.facebook.com/Mailee.me", :target => "_blank"} Facebook
      %li.twitter
        %a{:href => "http://twitter.com/maileeme", :target => "_blank"} @maileeme
      %li.blog
        %a{:href => "http://blog.mailee.me/"} Blog
    %ul.actions
      %li
        %a#login_button.btn{:href => "#"} login
      %li
        %a.btn.scroll{:href => "#sign-up"} experimente
.menu
  .center
    %a#logo.scroll{:href => "#toptop"}
      %h1 Mailee
    %ul.nav
      %li.active
        %a.scroll{:href => "#recursos"}
          Recursos
          %span Conheça as funcionalidades
      %li
        %a.scroll{:href => "#prices"}
          Preços
          %span Agências têm preços diferenciados.
      %li
        %a.scroll{:href => "#sign-up"}
          Cadastre-se
          %span Receba 250 créditos para testes
      %li
        %a.scroll{:href => "#footer"}
          Contato
          %span Alguma dúvida? Fale com a gente!

.page_overlay.login_form.hide
  #login_form_box
    .close_login_panel{:style => 'margin: -202px 0 0 252px;'}
      #{image_tag('close.png')}
    %iframe{ :src => global_login, :width => "500px", :height => "350px", :scrolling => "no", :frameborder => 0, :style => 'background-color: transparent;', :allowtransparency => "true" }

:javascript 
  logins = 0
  $('#login_button').click(function(){
    $('#flash_video').css({'visibility':'hidden'})
    $('.page_overlay.login_form').fadeIn('slow')
    //if( logins )
    //  $('#login_form_box iframe').attr('src',$('#login_form_box iframe').attr('src'))

    logins++
    return false
  })
  $('.close_login_panel').click(function(){
    $('.page_overlay').fadeOut('fast', function(){
      $('#flash_video').css({'visibility':'visible'})
    })
    return false
  })
  $('.page_overlay').click(function(){
    $('.page_overlay').fadeOut('fast', function(){    
      $('#flash_video').css({'visibility':'visible'}) 
    })
    
    return false
  })

