.social
  .center
    %ul.socials
      %li.facebook
        %a{:href => "http://www.facebook.com/Mailee.me", :target => "_blank"} Facebook
      %li.twitter
        %a{:href => "http://twitter.com/maileeme", :target => "_blank"} @maileeme
      %li.blog
        %a{:href => "http://blog.mailee.me/"} Blog
    %ul.actions
      %li
        %a.btn{:href => "#"} login
      %li
        %a.btn.scroll{:href => "#sign-up"} experimente
.menu
  .center
    %a#logo.scroll{:href => "#toptop"}
      %h1 Mailee
    %ul.nav
      %li.active
        %a.scroll{:href => "#recursos"}
          Recursos
          %span Conheça as funcionalidades
      %li
        %a.scroll{:href => "#prices"}
          Preços
          %span Agências têm preços diferenciados.
      %li
        %a.scroll{:href => "#sign-up"}
          Cadastre-se
          %span Receba 250 créditos de teste
      %li
        %a.scroll{:href => "#footer"}
          Contato
          %span Alguma dúvida? Fale com a gente!
