#prices.center
  %h2 Preços
  %p
    Você compra um pacote de envios e pode usar ao longo do tempo que quiser.
    %br
    É como um celular pré-pago, só que seus créditos nunca expiram!
    %br
    Um crédito é igual a um envio para um contato.
  %ul
    %li
      %h5
        100 mil
        .credits créditos
      / %span 100 mil créditos
      %span.price 
        %em.rs R$ 224
        %sup.cents ,00
      %span IP dedicado: R$ 79,00/mês
      %span.desc R$ 202,00/mês<sup>*</sup>
      
      %a.btn.scroll{:href => "#sign-up"} cadastre-se
    %li
      %h5
        250 mil
        .credits créditos
      / %span 100 mil créditos
      %span.price 
        %em.rs R$ 432
        %sup.cents ,00
      %span IP dedicado: R$ 79,00/mês
      %span.desc R$ 390,00/mês<sup>*</sup>
      
      %a.btn.scroll{:href => "#sign-up"} cadastre-se
    %li.last
      %h5
        1 milhão
        .credits de créditos
      / %span 100 mil créditos
      %span.price 
        %em.rs R$ 1120
        %sup.cents ,00
      %span IP dedicado: R$ 79,00/mês
      %span.desc R$ 1010,00/mês<sup>*</sup> + IP dedicado 
      
      %a.btn.scroll{:href => "#sign-up"} cadastre-se
    %li.highlight
      %h5
        500 mil
        .credits créditos
      / %span 100 mil créditos
      %span.price
        %em.rs R$ 720
        %sup.cents ,00
      %span IP dedicado: R$ 79,00/mês
      %span.desc R$ 648,00/mês<sup>*</sup> + IP dedicado
      
      / %span.desc IP dedicado gratuito no pacote de 6 meses
      %a.btn.btn-success.scroll{:href => "#sign-up"} cadastre-se
.clear
%div.center{:style => 'padding-top: 1.5em; margin-bottom: 1.5em;'}
  %p
    %sup *
    Compra recorrente de no mínimo 6 meses.
