%meta{ :name  => "Keywords",      :content   => "Mailee.me, Mailee, Email, Marketing, 2.0" }
%meta{ :name  => "Description",   :content   => "Mailee.me - Email Marketing 2.0" }
%link{:rel => "canonical", :href => "http://mailee.me/"}