- content_for :signup_bar do
  = render('layouts/signup_bar')

= render("site/index/showcase")

.content_wrapper
  %br
  = render("site/index/social")
%script{:src => '/javascripts/index.js', :type=>"text/javascript"}


