.content_wrapper
  #mailee_privacy_policy
    :textile
      h1. Política de privacidade

      Nós coletamos o endereço de email daqueles que se comunicam conosco via email, agregamos informações sobre quais páginas os clientes acessam ou visitam, e informações dadas voluntariamente pelo cliente (como informações de pesquisas e/ou cadastros no site). As informações que coletamos são usadas para melhorar o conteúdo das nossas páginas web e a qualidade do nosso serviço, e não são compartilhadas ou vendidas para outras organizações para fins comerciais, exceto para prover produtos ou serviços que você tenha solicitado, quando tivermos sua permissão, ou sob as seguintes circunstâncias:

      * É necessário compartilhar informações a fim de investigar, prevenir, ou tomar ações em relação a atividades ilegais, suspeitas de fraude, situações envolvendo ameaças potenciais à segurança física de qualquer pessoa, violação dos Termos de Uso, ou qualquer outra forma exigida por lei.
      * Nós transferiremos informações sobre você se a Softa ou o Mailee forem adquiridos por ou fundidos com outra empresa. Nesse caso, a Softa vai lhe notificar antes de que as informações sejam transferidas e se tornem sujeitas a outras políticas de privacidade.

      h2. Coleta de informações e uso

      * Quando você se cadastra no Mailee nós solicitamos informações como seu nome e endereço de email. Se você se cadastra para uma conta paga, nós solicitamos informações de faturamento, diretamente ou através de um serviço de cobrança (como o PagSeguro da UOL)
      * A Softa usa as informações coletadas para os seguintes propósitos gerais: provisão de produtos ou serviços, cobrança, identificação e autenticação, melhoria dos serviços, contato, e pesquisa.

      h2. Cookies

      * Um cookie é um pequeno conjunto de dados, que frequentemente inclui um identificador único anônimo, que é enviado ao seu navegador de um computador de um web site e é armazenado no disco rígido de seu computador.
      * Cookies são requeridos para usar o serviço do Mailee.
      * Nós usamos cookies para gravar informações da sessão atual, mas não usamos cookies permanentes. Será necessário efetuar login no site do Mailee depois de certo período de tempo para protegê-lo contra acessos acidentais de outros ao conteúdo de sua conta.

      h2. Armazenamento de dados

      A Softa usa serviços terceirizados de hospedagem e infra-estrutura para prover o hardware, software, rede, armazenamento, e tecnologia necessários para rodar o Mailee. Apesar da Softa possuir o código, bancos de dados, e todos os direitos à aplicação do Mailee, você retém todos os direitos aos seus dados.

      h2. Divulgação

      A softa pode divulgar informações pessoalmente identificáveis sob circunstâncias especiais, como para responder a intimações ou quando suas ações violarem os Termos de Uso.

      h2. Alterações

      A Softa pode periodicamente atualizar esta política. Nós vamos notificar você sobre mudanças significativas na maneira como tratamos informações pessoais enviando um aviso para o endereço de email especificado na sua conta no Mailee ou botando um aviso em nosso site.

      h2. Dúvidas

      Qualquer dúvida sobre esta Política de Privacidade deve ser endereçada a #{link_to 'suporte@mailee.me', support_mail}.
