- content_for :metatags do
  %meta{ :name => 'Keywords', :content => 'Mailee.me, Mailee, Email, Marketing, 2.0' }
  %meta{ :name => 'Description', :content => 'Mailee.me · Crie templates, envie mensagens e acompanhe resultados em um só lugar. Email marketing 2.0 tem criador de templates, geolocalização, integração com redes sociais, e muito mais!' }
#signup_form
  .signup_wrapper
    %h1 Cadastro
    - if @referrer == 'appsumo'
      %h2 Você receberá 1000 créditos por mês durante um ano.
    - else
      %h2 Você terá 250 créditos para realizar testes.
    -# %iframe{ :src => signup_iframe_path, :width => "100%", :height => "180px", :scrolling => "no", :frameborder => 0, :style => 'background-color: transparent;', :allowtransparency => "true" }

- if Rails.env.production?
  :javascript
    mailee_signup_path = 'https://signups.mailee.me/signup/new'
- else
  :javascript
    mailee_signup_path = 'http://signup.lvh.me:3000/signup/new'
= javascript_include_tag 'jquery.iframe'
= javascript_include_tag 'signup'
