.content_wrapper
  #mailee_anti_spam_policy
    :textile
      h1. Política Anti-SPAM

      *SPAM* é uma mensagem de correio eletrônico (email) com fins comerciais enviada para uma pessoa sem a autorização prévia.

      O Mailee é um sistema para fazer *#{link_to('email marketing baseado em permissões', 'http://en.wikipedia.org/wiki/Permission_marketing')}*.

      Nós não gostamos de receber SPAM e nós não criamos o Mailee para ser uma ferramenta de SPAM. Nós não acreditamos que negócios possam dar certo, ainda mais na era da internet, com práticas desrespeitosas e não queremos trabalhar com clientes que pensem assim. Por isso, nós seguimos todas as normas legais, como o #{link_to('CAN-SPAM ACT', 'http://www.ftc.gov/bcp/edu/pubs/business/ecommerce/bus61.shtm')} estadunidense, e vamos além disso. Veja nossas medidas:

      h2. Autorização

      Todos os nossos clientes devem enviar mensagens apenas para os seguintes contatos:

      * Contatos que tenham se cadastrado pelo site, no formulário do Mailee.
      * Contatos que tenham se cadastrado em algum formulário, marcando um campo indicando que aceita receber mensagens. O campo não deve vir marcado por padrão.
      * Contatos que tenham tido alguma relação comercial com o cliente nos últimos 3 anos.
      * Contatos que tenham tenham autorizado o recebimento por telefone, fax, carta, verbalmente&hellip;se autorizou, pode!
      * Contatos que não tenham solicitado descadastro no Mailee, ou em qualquer ferramenta usada anteriormente pelo cliente.
      * Contatos que tenham sido comprados de um fornecedor que siga todas as normas acima e que tenham solicitado o recebimento de mensagens de parceiros do fornecedor, para os tipos de mensagens em questão. Qualquer dúvida, #{link_to('entre em contato','mailto:comercial@mailee.me')}.

      <br/>
      E não enviar para os seguintes contatos:

      * Contatos que tenham sido comprados de um fornecedor que não siga todas as normas acima ou que não tenham solicitado o recebimento de mensagens de parceiros do fornecedor, para os tipos de mensagens em questão.
      * Contatos cujos endereços tenham sido copiados da internet.
      * Contatos não contatados nos últimos 3 anos.

      h2. Descadastro

      Todas as mensagens comerciais enviadas pelo Mailee devem ter uma ou mais formas de descadastro (unsubscribe):

      * Descadastro automatico pelo Mailee (basta adicionar um link  com o id "unsubscribe" em sua mensagem).
      * Descadastro pelo site do cliente integrado ao Mailee (basta colocar o formulário de descadastro disponibilizado na área de configuração do Mailee).
      * Qualquer outra forma de descadastro, como o retorno da mensagem com o termo "DESCADASTRAR" ou no sistema do cliente (que pode ser integrado com Mailee via REST), desde que fique claro que o cliente tem a obrigação de informar no Mailee que o contato solicitou o descadastro, ou que o contato não seja importado em novas contas.

      h2. Can-Spam Act

      É uma boa prática seguir as normas do Can-Spam Act que incluem, além dos itens apresentados acima as seguintes obrigatoriedades para as mensagens comerciais:

      * Colocar na mensagem o nome da empresa que está enviando.
      * Colocar na mensagem o endereço da empresa que está enviando.
      * Colocar na mensagem o telefone da empresa que está enviando.
      * Explicar claramente o motivo do envio, como o contato entrou na lista, como o contato pode sair da lista, qual o assunto e qual a periodicidade dos envios.

      O Mailee permite que você coloque estes dados de forma automática em suas mensagens, facilitando sua vida.

      h2. Boas práticas

      São consideradas boas práticas pela equipe do Mailee:

      * Enviar mensagens com texto e não apenas imagens.
      * Enviar mensagens curtas.
      * Enviar mensagens com links para o site.
      * Personalizar as mensagens com dados dos contatos.
      * Segmentar corretamente as listas.
      * Manter um envio periódico.

      h2. Como identificamos Spammers

      Estes são os mecanismos que temos no sistema para monitorar e identificar clientes que não estejam de acordo com as normas:

      * Todos os clientes pagos devem ser aprovados pela nossa equipe.
      * Monitoramos de forma automática todas as importações com muitos contatos, verificando algum padrão de inserção.
      * Mensagens com muitos contatos inexistentes.
      * Mensagens com muitas denúncias: 0.2% é um número limite, a não ser que a denúncia seja intencional.
      * Nós estamos integrados com os maiores provedores de email do mundo, e recebemos automaticamente as denúncias destes.

      h2. Dúvidas

      Qualquer dúvida sobre estas regras deve ser endereçada a #{link_to('suporte@mailee.me', 'mailto:suporte@mailee.me')}
