- content_for :metatags do
  %meta{ :name => 'Keywords', :content => 'Mailee.me, Mailee, Email, Marketing, 2.0' }
  %meta{ :name => 'Description', :content => 'Mailee.me · Crie templates, envie mensagens e acompanhe resultados em um só lugar. Email marketing 2.0 tem criador de templates, geolocalização, integração com redes sociais, e muito mais!' }
.content_wrapper
  #mailee_resources
    %h2 Principais recursos do Mailee.me
    .key_feature.first_box
      .key_feature_wrapper
        %h3 Editoração de mensagens
        %p Você <strong>não precisa saber HTML</strong> para criar emails com design profissional.
        %p Se você é designer, pode fazer o template <strong>como quiser</strong> e importar para o Mailee.me. Se não, pode usar nosso <strong>criador de templates</strong>.
        %p Depois, é só editar as mensagens <strong>direto na tela</strong> e o design seguirá intacto!
    .key_feature
      .key_feature_wrapper
        %h3 Geolocalização e redes sociais
        %p Saiba mais sobre seus contatos e <strong>segmente suas listas</strong> para aumentar o retorno de suas campanhas.
        %p Saiba <strong>onde</strong> seus contatos estão no momento em que <strong>eles abrem as mensagens</strong>.
        %p Você pode criar automaticamente segmentos por <strong>localização</strong> ou listas com quem clicou em um link específico da sua mensagem.
    .key_feature.last_box
      .key_feature_wrapper
        %h3 Resultados na hora
        %p Monitore o retorno de suas campanhas e saiba até <strong>quantas vendas</strong> vieram do Mailee.me!
        %p Como nosso Big Brother geográfico, veja na hora <strong>quem está acessando</strong>, e <strong>de onde</strong>.
    .clear
    %h2.feature_title Contatos
    .feature.first_box.segmentation
      .feature_wrapper
        %h3 Segmentação
        %p Crie segmentos pesquisando por qualquer informação dos seus contatos, incluindo campos personalizados.
    .feature.import
      .feature_wrapper
        %h3 Importações
        %p Importe mais fácil seus contatos do Gmail e de planilhas Excel©, Open Office, Google Docs, etc.
    .feature.last_box.social
      .feature_wrapper
        %h3 Redes sociais
        %p Use as informações de seus contatos do Twitter e de redes sociais.
    .clear
    %h2.feature_title Templates
    .feature.first_box.wireframes
      .feature_wrapper
        %h3 Criador de templates
        %p Crie templates profissionais sem precisar saber nada de HTML.
    .feature.header_image
      .feature_wrapper
        %h3 Editor de cabeçalhos
        %p Crie imagens de cabeçalho para seus templates com seu logo e suas informações.
    .feature.edit.last_box
      .feature_wrapper
        %h3 Envio de templates
        %p Se você é designer, crie seus templates em HTML como quiser. Basta marcar as partes editáveis.
    .clear
    %h2.feature_title Mensagens
    .feature.first_box.wysiwyg
      .feature_wrapper
        %h3 Edição direto na tela
        %p Edite o conteúdo das mensagens direto na tela, sem mexer no design.
    .feature.segments
      .feature_wrapper
        %h3 Envio para segmentos
        %p Direcione suas campanhas e aumente seu retorno enviando apenas para os contatos certos.
    .feature.last_box.gallery
      .feature_wrapper
        %h3 Galeria de imagens
        %p Envie imagens para a galeria e facilite sua vida.
    .clear
    %h2.feature_title Relatórios
    .feature.first_box.georeports
      .feature_wrapper
        %h3 Relatórios geográficos
        %p Visualize acessos e cliques na hora e saiba onde os contatos estão.
    .feature.newsletter_follow_up
      .feature_wrapper
        %h3 Evolução da campanha
        %p Acompanhe seus resultados ao longo do tempo e descubra onde melhorar.
    .feature.last_box.clicks_and_visualization
      .feature_wrapper
        %h3 Cliques e visualizações
        %p Veja os percentuais de visualização de suas mensagens e quem clicou em cada link.
    .clear
    %h2.feature_title Integrações
    .feature.analytics.first_box
      .feature_wrapper
        %h3 Integre com o Google Analytics
        %p Monitore conversões e vendas integrando com o Google Analytics.
    .feature.rest_integration
      .feature_wrapper
        %h3 API REST
        %p Utilize o Mailee.me na sua aplicação através de nossa API REST.
    .feature.form_integration.last_box
      .feature_wrapper
        %h3 Formulários no seu site
        %p Coloque formulários de cadastro e descadastro no seu site.
    .clear
    %h2.feature_title Atendimento
    .feature.first_box.support
      .feature_wrapper
        %h3 Suporte técnico incansável
        %p #{link_to 'Entre em contato', support_mail} sempre que precisar, e conte com uma solução ágil e de qualidade.
    .feature.upgrades
      .feature_wrapper
        %h3 Atualizações frequentes
        %p Espere novas versões com frequencia, levando em conta o seu feedback.
    .feature.last_box.help
      .feature_wrapper
        %h3 Documentação
        %p Aprenda mais e solucione dúvidas com guias completos e sempre melhorando.
    .clear
    %h2.feature_title Tecnologia
    .feature.first_box.techno
      .feature_wrapper
        %h3 Ruby on Rails
        %p O Mailee.me é desenvolvido em #{link_to 'Ruby on Rails', 'http://rubyonrails.pro.br/'}, tecnologia utilizada pelo Twitter e #{link_to 'muitos mais', 'http://rubyonrails.pro.br/aplicacoes'}.
    .feature.techno
      .feature_wrapper
        %h3 Conexão segura
        %p Fique tranquilo que seus dados serão transmitidos de maneira segura, utilizando um certificado SSL.
    .feature.last_box.techno
      .feature_wrapper
        %h3 Cross-browser
        %p O Mailee.me utiliza CSS3 e outras tecnologias suportadas pelos principais navegadores modernos.
    .clear
    %h2.contact_us
      = link_to 'Precisa de alguma informação que não encontrou aqui?', commercial_mail
