- content_for :metatags do
  %meta{ :name => 'Keywords', :content => 'Mailee.me, Mailee, Email, Marketing, 2.0' }
  %meta{ :name => 'Description', :content => 'Mailee.me · Crie templates, envie mensagens e acompanhe resultados em um só lugar. Email marketing 2.0 tem criador de templates, geolocalização, integração com redes sociais, e muito mais!' }
.content_wrapper
  #mailee_videos
    .videos_wrapper
      %h1 Vídeos
      .channels.span-3.last
        %h4
          %a.current_channel Tour
        %h4
          %a Help
        %h4
          %a Promos
      .tubes.span-21
        - 8.times do
          .video_wrapper
            .video_box= image_tag 'video.jpg'
            .video_name
              %p
                Video Name
                %a.watch_now assista »
        .clear