table { margin-bottom: 1.4em; width: 100%; }

th { font-weight: bold; }

thead th { background: #c3d9ff; }

th, td, caption { padding: 4px 10px 4px 5px; }

tr.even td { background: #e5ecf9; }

tfoot { font-style: italic; }

caption { background: #eee; }

.quiet { color: #666666; }

.loud { color: #111111; }

.nowrap { white-space: nowrap; }

.clearfix { overflow: hidden; display: inline-block; }

.clearfix { display: block; }

.small { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }

.large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }

.first { margin-left: 0; padding-left: 0; }

.last { margin-right: 0; padding-right: 0; }

.top { margin-top: 0; padding-top: 0; }

.bottom { margin-bottom: 0; padding-bottom: 0; }

.error { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }

.error a { color: #8a1f11; }

.notice { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fff6bf; color: #514721; border-color: #ffd324; }

.notice a { color: #514721; }

.success { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #e6efc2; color: #264409; border-color: #c6d880; }

.success a { color: #264409; }

.hide { display: none; }

.highlight { background: yellow; }

.added { background: #006600; color: white; }

.removed { background: #990000; color: white; }

label { font-weight: bold; }

fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }

legend { font-weight: bold; font-size: 1.2em; }

input.text, input.title, input[type=text] { margin: 0.5em 0; background-color: #fff; padding: 5px; }

input.title { font-size: 1.5em; }

input[type=checkbox], input.checkbox, input[type=radio], input.radio { position: relative; top: 0.25em; }

textarea { margin: 0.5em 0; padding: 5px; }

select { margin: 0.5em 0; }

fieldset { border: 1px solid #cccccc; }

input.text, input.title, textarea, select { border: 1px solid #bbbbbb; }

input.text:focus, input.title:focus, textarea:focus, select:focus { border: 1px solid #666666; }

input.text, input.title { width: 300px; }

textarea { width: 390px; height: 250px; }

button { outline-color: transparent; }

button:active { outline-color: transparent; }

button:focus { outline-color: transparent; }

a:focus { outline-color: transparent; }

a::-moz-focus-inner, button::-moz-focus-inner, input::-moz-focus-inner { border-color: transparent; }

input:focus { outline: 0 none; }

*:focus { outline: none; }

body form.signup_mailee_form { border: 0 none; padding: 0; font-size: 12px; margin: 0; }

body form.signup_mailee_form fieldset { border: 0 none; padding: 0; margin: 0; }

body form.signup_mailee_form fieldset table thead th { padding: 0; background-color: transparent; }

body form.signup_mailee_form fieldset table thead td { padding: 0; text-align: left; padding-bottom: 2px; background-color: transparent; }

body form.signup_mailee_form fieldset table thead td.right_aligned { text-align: right; padding-right: 16px; }

body form.signup_mailee_form fieldset table tbody td { vertical-align: top; padding: 0; margin: 0; }

body form.signup_mailee_form fieldset .text_field { border: 0 none; padding: 3px 6px; width: 288px; height: 30px; background-color: transparent; background-image: url(../images/text_field.png); background-repeat: no-repeat; background-attachment: scroll; background-position: 0 -450px; }

body form.signup_mailee_form fieldset .text_field.focused_field { background-position: 0 -50px; }

body form.signup_mailee_form fieldset .text_field.notice_field { background-position: 0 -350px; }

body form.signup_mailee_form fieldset .text_field.error_field { background-position: 0 -250px; }

body form.signup_mailee_form fieldset .text_field.success_field { background-position: 0 -150px; }

body form.signup_mailee_form fieldset input[type="text"], body form.signup_mailee_form fieldset input[type="password"] { font-size: 18px; font-family: Helvetica, 'Humnst777 BT', Arial, sans-serif; margin: 0; border: 0 none; background: transparent none; padding: 5px 0; letter-spacing: 1px; color: #444; width: 290px; }

body form.signup_mailee_form fieldset input[type="text"].subdomain, body form.signup_mailee_form fieldset input[type="password"].subdomain { text-align: right; width: 106px; }

body form.signup_mailee_form fieldset input[type="radio"], body form.signup_mailee_form fieldset input[type="checkbox"] { width: 16px; height: 16px; vertical-align: middle; padding: 0; margin: -4px 0 0.25em 0; }

body form.signup_mailee_form fieldset span.mailee_domain { font-size: 18px; font-family: Helvetica, 'Humnst777 BT', Arial, sans-serif; letter-spacing: 1px; color: #444; }

body form.signup_mailee_form fieldset #show_password, body form.signup_mailee_form fieldset #hide_password { margin: 4px 0 0 0; }

body form.signup_mailee_form fieldset .show_password_label, body form.signup_mailee_form fieldset .hide_password_label { float: right; color: #444; font-weight: 900; text-shadow: 0 1px 0 #fff; margin-right: 0px; line-height: 18px; cursor: pointer; }

body form.signup_mailee_form fieldset .hide_password_icon, body form.signup_mailee_form fieldset .show_password_icon { float: right; cursor: pointer; height: 18px; width: 24px; margin-right: 4px; background-image: url(../images/show_password.png); background-repeat: no-repeat; background-attachment: scroll; }

body form.signup_mailee_form fieldset .hide_password_icon { background-position: 0 -102px; }

body form.signup_mailee_form fieldset .hide_password_icon:hover { background-position: 0 -66px; }

body form.signup_mailee_form fieldset .hide_password_icon:active { background-position: 0 -30px; }

body form.signup_mailee_form fieldset .show_password_icon { background-position: -48px -102px; }

body form.signup_mailee_form fieldset .show_password_icon:hover { background-position: -48px -66px; }

body form.signup_mailee_form fieldset .show_password_icon:active { background-position: -48px -30px; }

body #email_messages span, body #subdomain_messages span, body #password_messages span { font-family: Helvetica, 'Humnst777 BT', Arial, sans-serif; font-weight: 500; font-size: 13px; }

body #email_messages span.error_message, body #subdomain_messages span.error_message, body #password_messages span.error_message { color: #cc3333 !important; }

body #email_messages span.success_message, body #subdomain_messages span.success_message, body #password_messages span.success_message { color: #6aa41d !important; }

body #email_messages span.notice_message, body #subdomain_messages span.notice_message, body #password_messages span.notice_message { color: #e6820d !important; }

#caps span { color: #25A !important; font-weight: 900; }

button#send { background-color: transparent; background-image: url(../images/signup_button.png); background-attachment: scroll; background-repeat: no-repeat; height: 24px; width: 24px; border: 0 none; overflow: hidden; padding: 0; margin: 0; margin: 0; padding: 0; text-align: right; display: block; cursor: pointer; height: 24px; width: 100px; background-position: 0 -72px; }

button#send:active { background-position: 0 -24px; }

button#send[disabled], button#send[disabled="disabled"], button#send.disabled { background-position: 0 -120px; }

#accept_and_signup { -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; width: 300px; padding: 6px; }

.focused_accept { background-color: #2255aa; color: white !important; }

.focused_accept a { color: white !important; text-decoration: underline !important; }

.pstrength-bar { -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; }
