#easy_signup
  .easy_signup_wrapper
    %h1
      #{link_to t('easy_signup.see_the_prices'), prices_path, :class => 'prices' } ou #{link_to t('easy_signup.test_for_free'), signup_path, :class => 'signup'}.
